
nav {
  display: block;
  background: rgba(4,4,4, .6);
  padding: 15px 10px;
  margin: 0;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  display: inline-block;
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
}

nav .navbar-left {
  float: left;
}

nav .navbar-right {
  float: right;
}
