// APP 2 COLUMN LAYOUT
$app-column-height-default: 660px

.app-container
  position: relative
  align-content: stretch
  align-items: stretch
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between

  -webkit-box-direction: normal
  -moz-box-direction: normal
  -webkit-box-orient: horizontal
  -moz-box-orient: horizontal
  -webkit-box-pack: justify
  -moz-box-pack: justify
  -ms-flex-pack: justify
  -ms-flex-line-pack: stretch
  -webkit-box-align: stretch
  -moz-box-align: stretch
  -webkit-align-items: stretch
  -ms-flex-align: stretch

main.app-primary
  -webkit-box-ordinal-group: 2
  -moz-box-ordinal-group: 2
  -webkit-align-self: auto
  -ms-flex-item-align: auto
  order: 1
  flex: 0 80 80%
  align-self: auto
  position: relative
  background-color: #262722

  &::after
    content: ""
    position: absolute
    width: 41px
    height: 420px
    left: 0
    bottom: 0
    background-color: #2f3029

  +below(480px)
    display: block
    width: 100%
    flex: 0 0 auto

aside.app-sidebar
  -webkit-box-ordinal-group: 3
  -moz-box-ordinal-group: 3
  -ms-flex-item-align: auto
  order: 2
  flex: 0 20 20%
  align-self: auto
  min-width: 225px

  +below(480px)
    display: none


// APP STYLES
.app-container
  z-index: 1

  ul
    display: inline-block
    list-style: none
    padding: 0
    margin: 0

p.app-label
  display: inline-block
  font-size: 12px
  text-transform: uppercase
  line-height: 1em
  margin-bottom: .05em
  color: rgba(#333, .6)

// IMPORT PARTIALS
@import app-header
@import app-tabs
@import app-editors
@import app-chat
@import app-blackboard
@import app-users
@import app-controls
@import app-broadcast
