// APP STYLES
body
  background: #f1f1f1

.app-container
  +container
  z-index: 1

  ul
    display: inline-block
    list-style: none
    padding: 0
    margin: 0

p.app-label
  display: inline-block
  font-size: 12px
  text-transform: uppercase
  line-height: 1em
  margin-bottom: .05em
  color: rgba(#333, .6)

// APP 2 PAGE LAYOUT
$app-column-height-default: 660px

main.app-primary
  +container
  float: left
  height: $app-column-height-default
  width: 73%

  +above(1050px)
    width: 80%

  +below(780px)
    width: 80%

aside.app-sidebar
  +container
  float: left
  height: $app-column-height-default
  width: 27%

  +above(1050px)
    width: 20%

  +below(780px)
    width: 20%

// IMPORT OTHER PARTIALS
@import app-header
@import app-tabs
@import app-editors
@import app-chat
@import app-blackboard
@import app-users

// @import app-buttons
// @import app-controls
// @import app-audio-chat
