// APP HEADER & NAVBAR
.app-container

  header.app-header
    position: relative
    z-index: 2

    nav
      +container
      background: #1f2427

      ul
        &:first-of-type
          margin-left: 0

        &:last-of-type
          margin-right: 0

    .navbar-item
      padding: $padding-default
      display: block
      color: white

    .navbar-left
      float: left

    .navbar-right
      float: right

    .current-user-avatar
      border-radius: 100%
      float: right
      height: 35px
      position: relative
      top: -6px
      width: 35px
