@keyframes slideInUp
  0%,
  50%
    transform: translateY(100%)
    visibility: hidden
    opacity: 0

  100%
    transform: translateY(0)
    opacity: 1
    visibility: visible

@keyframes fadeIn
  0%,
  50%,
  75%
    opacity: 0
    visibility: hidden

  100%
    opacity: 1
    visibility: visible

@keyframes slideInDown
  0%
    transform: translate3d(0, -300%, 0)
    visibility: hidden

  50%
    transform: translate3d(0, -300%, 0)

  100%
    transform: translate3d(0, 0, 0)
    visibility: visible
