//---------------------------------------
// Font Families
//---------------------------------------
$font-sans-serif: Raleway, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-family-primary: $font-sans-serif

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-bold: 700

//---------------------------------------
// Colors
//---------------------------------------
$blue: #1d88e2

//-------------------------------------
//  Extends
//-------------------------------------
%font-house
  font-family: 'house_m.d.regular'
